
.container {
  margin: 0 auto;
  max-width: 1080px;
  background-color:blueviolet;
  border-radius: 20px;
}

.menu {
  display: flex;
  padding: 30px;
  justify-content: center;
  list-style-type: none;
}
.menu > li {
  padding-left: 20px;
  padding-right: 20px;
}

li > * {
  font-weight: 700;
  font-size: larger;
  word-spacing: 1px;
}

li > *:hover {
  color: black;
}
